TestVUPService/Connected Services/VUPMACAddress_ServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vupmacservice.videoup.com:88/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VUPMACService" />
  <xs:element name="CreateVUPMACAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyID" type="xs:int" />
        <xs:element minOccurs="0" name="vupID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strEthernetMACAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strWirelessMACAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVUPMACAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateVUPMACAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVUPMACAddresses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVUPMACAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VUPMACService" minOccurs="0" name="GetVUPMACAddressesResult" nillable="true" type="q1:VUPMacAddressesDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>