TestVUPService/Connected Services/VUPMACAddress_ServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://vupmacservice.videoup.com:88/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://vupmacservice.videoup.com:88/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://vupmacservice.videoup.com:88/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VUPMACService" />
      <xsd:import schemaLocation="http://vupmacservice.videoup.com:88/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_CreateVUPMACAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateVUPMACAddress" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateVUPMACAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateVUPMACAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetVUPMACAddresses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVUPMACAddresses" />
  </wsdl:message>
  <wsdl:message name="IService1_GetVUPMACAddresses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVUPMACAddressesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteVUPMACAddresses_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVUPMACAddresses" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteVUPMACAddresses_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVUPMACAddressesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="CreateVUPMACAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateVUPMACAddress" message="tns:IService1_CreateVUPMACAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateVUPMACAddressResponse" message="tns:IService1_CreateVUPMACAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVUPMACAddresses">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetVUPMACAddresses" message="tns:IService1_GetVUPMACAddresses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetVUPMACAddressesResponse" message="tns:IService1_GetVUPMACAddresses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVUPMACAddresses">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteVUPMACAddresses" message="tns:IService1_DeleteVUPMACAddresses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteVUPMACAddressesResponse" message="tns:IService1_DeleteVUPMACAddresses_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateVUPMACAddress">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateVUPMACAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVUPMACAddresses">
      <soap:operation soapAction="http://tempuri.org/IService1/GetVUPMACAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVUPMACAddresses">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteVUPMACAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://vupmacservice.videoup.com:88/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>